<p><%= @studio.name %></p>
<p><%= @studio.location %></p>

<% @studio.movies.each do |movie| %>
  <p><%= movie.title %></p>
<% end %>

<% @studio.actor_by_age_still_working.each do |actor| %>
  <p class="actor"><%= actor.name %></p>
<% end %>
